@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav nav-link">
            @*@Html.ActionLink("Chào " + User.Identity.GetUserName(), null)*@
            <a href="#">Welcome : @Session["Ho"] @Session["Ten"]</a>

            <span><a href="@Url.Action("Logout","Account",new { area = "" })" class="btn btn-warning">Đăng Xuất</a></span>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><span> @Html.ActionLink("Registration", "Registration", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink" })</span></li>
        
        <li><span> @Html.ActionLink("Log in", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })</span></li>
    </ul>
}
