@model IEnumerable<WebApplication1.Models.LoaiCLB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiCLB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiCLB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDLoaiCLB }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDLoaiCLB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDLoaiCLB })
        </td>
    </tr>
}

</table>
