@model WebApplication1.Models.TTNhatKy

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TTNhatKy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdThanhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdThanhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TGThamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TGThamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SKDaThamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKDaThamGia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
