
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav nav-link">
            @*@Html.ActionLink("Chào " + User.Identity.GetUserName(), null)*@
            <a href="#">Welcome : @Session["Ho"] @Session["Ten"]</a>

            <a href="@Url.Action("SignOut","Account",new { area = "" })" >Đăng Xuất</a>
        </div>
    }
}
else
{
     @Html.ActionLink("Đăng ký", "Registration", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink" })
     @Html.ActionLink("Đăng nhập", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })
}
