@model ClubPortalMS.ViewModel.HoatDong.HoatdongViewModels

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper my-2">
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                                <strong class="text-danger text-uppercase">Xóa</strong>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="#" class="btn btn-sm btn-success">Content</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Ten)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Ten)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MoTa)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MoTa)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.KeyWord)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.KeyWord)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.URL)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.URL)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HinhAnhChiTiet)
                            </dt>

                            <dd>
                                <img src="@Url.Content(Model.HinhAnhChiTiet)" style="width: 100px; height: 100px; margin: 10px;" />
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HinhAnhBaiViet)
                            </dt>
                            
                            <dd>
                                <img src="@Url.Content(Model.HinhAnhBaiViet)" style="width: 100px; height: 100px; margin: 10px;" />
                            </dd>
                            <dd>
                                @Html.DisplayFor(model => model.HinhAnhBaiViet)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NgayDang)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NgayDang)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TenNguoiDang)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TenNguoiDang)
                            </dd>

                        </dl>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    }