@model IEnumerable<ClubPortalMS.Models.HoatDong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper my-2">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>

                        <strong class="text-danger text-uppercase">Trang Chủ</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-success">Content</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MoTa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KeyWord)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.URL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HinhAnhChiTiet)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HinhAnhBaiViet)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NgayDang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenNguoiDang)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MoTa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KeyWord)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.URL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HinhAnhChiTiet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HinhAnhBaiViet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayDang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNguoiDang)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

