@using PagedList.Mvc;
@using PagedList;

@{
    var DsHoatDong = (IPagedList<ClubPortalMS.Models.ViewModel1>)ViewBag.DsHoatDong;
    ViewBag.Title = "Quản lý hoạt động";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";
    string[] TableHeaders = new string[] {"STT","Tiêu đề"
                        ,"Mô tả"
                        ,"Ngày bắt đầu"
                        ,"Ngày kết thúc"
                        ,"Nội dung"
                        ,"Địa điểm"
                        ,"Loại hoạt động"
                        ,"File đính kèm"                       
                        ,"Tác vụ"
                        };
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý câu lạc bộ</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-list"></i> Danh sách Thông báo:</h5>
                    Đây là trang quản lý các thông báo của câu lạc bộ của bạn
                </div>
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12 table table-responsive">
                            <table id="myTable" class="table table-striped table table-bordered table-hover table-sm">
                                <thead>
                                    <tr>
                                        @foreach (var head in TableHeaders)
                                        {
                                            <th>
                                                @head
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.DsHoatDong)
                                    {
                                    <tr>
                                        <td>@item.QLDSHoatDong.ID</td>
                                        <td>@item.QLDSHoatDong.ChuDe</td>
                                        <td>@item.QLDSHoatDong.Mota</td>
                                        <td>@item.QLDSHoatDong.NgayBatDau</td>
                                        <td>@item.QLDSHoatDong.NgayKetThuc</td>
                                        <td>@item.QLDSHoatDong.NoiDung</td>
                                        <td>@item.QLDSHoatDong.DiaDiem</td>
                                        <td>@item.QLDSHoatDong.LoaiHD.TenLoaiHD</td>

                                        @if (item.QLDSHoatDong.File == null)
                                        {
                                            <td>Trống </td>
                                        }
                                        else
                                        {
                                            <td>@item.QLDSHoatDong.TenFile</td>
                                        }

                                        <td>
                                            @Html.ActionLink("Xem", "XemHD", new { id = item.QLDSHoatDong.ID }) |
                                            @Html.ActionLink("Sửa", "SuaHD", new { id = item.QLDSHoatDong.ID }) |
                                            @Html.ActionLink("Xóa", "XoaHD", new { id = item.QLDSHoatDong.ID }) |
                                            @Html.ActionLink("Điểm danh", "DiemDanh", new { id = item.QLDSHoatDong.ID , id2=item.ThanhVien_CLB.IDCLB})
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                            @Html.PagedListPager(DsHoatDong, page => Url.Action("QLHoatDong", new { page, id = ViewBag.idCLB }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

