@model IEnumerable<ClubPortalMS.Models.ThanhVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper my-2">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>

                        <strong class="text-danger text-uppercase">Danh Dách</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-success">Content</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DBUser.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ho)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NgaySinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MSSV)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lop)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SDT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mail)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DBUser.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ho)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgaySinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MSSV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lop)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mail)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

