@model ClubPortalMS.Models.DangKy

@{
    ViewBag.Title = "DangKyCLB";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";
}

<h2>Đăng ký Câu Lạc Bộ</h2>
<h3><strong>@TempData["Message"]</strong></h3>
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Câu lạc bộ đã tham gia</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @foreach (var item in ViewBag.Dsclbthamgia)
                        {
                            <strong><i class="fas fa-book mr-1"></i> @item.CLB.TenCLB</strong>
                            <p class="text-muted">
                                @item.CLB.Mota
                            </p>
                            <hr>
                        }
                    </div>
                </div>
            </div>

            @Html.AntiForgeryToken()
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <div class="nav-item"><a class="nav-link">Đơn đăng ký tham gia Câu Lạc Bộ</a></div>
                    </div>
                    <div class="card-body">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MSSV, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MSSV, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.LyDoDkyCLB, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LyDoDkyCLB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LyDoDkyCLB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="control-label col-md-2">Danh sách câu lạc bộ</p>

                            @*@Html.LabelFor(, "Câu lạc bộ", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.DropDownList("IDCLB", ViewBag.Test as SelectList, "Chọn Câu lạc bộ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDCLB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
