@model ClubPortalMS.Models.DangKy

@{
    ViewBag.Title = "DangKyCLB";
    Layout = "~/Areas/Profile/Views/Shared/_LayoutProfile.cshtml";
}

<section class="content-header" style="background-color:cornflowerblue">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Đăng ký CLB</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li style="color:black" class="breadcrumb-item">Trang Chủ</li>
                    <li style="color:black" class="breadcrumb-item active">Đăng ký CLB</li>
                </ol>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm())
{

    <div class="container-fluid" style="margin-top:3%">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Câu lạc bộ đã tham gia</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @foreach (var item in ViewBag.Dsclbthamgia)
                        {
                            <strong><i class="fas fa-book mr-1"></i> @item.CLB.TenCLB</strong>
                            <p class="text-muted">
                                @item.CLB.Mota
                            </p>
                            <hr>
                        }
                    </div>
                </div>
            </div>

            @Html.AntiForgeryToken()
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <div class="nav-item"><a class="nav-link">Đơn đăng ký tham gia Câu Lạc Bộ</a></div>
                    </div>
                    <div class="card-body" style="display: block; margin-left: auto; margin-right: auto; width: 80%; ">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MSSV, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MSSV, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.LyDoDkyCLB, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LyDoDkyCLB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LyDoDkyCLB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Danh sách câu lạc bộ</label>
                            <div class="col-md-12">
                                @Html.DropDownList("IDCLB", ViewBag.Test as SelectList, "Chọn Câu lạc bộ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDCLB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Gửi đơn" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
