@model ClubPortalMS.Models.HoatDong

@{
    ViewBag.Title = "BaiViet";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
    var ListHD = (List<ClubPortalMS.Models.HoatDong>)ViewBag.ListHD;
    var ListNews = (List<ClubPortalMS.Models.TinTuc>)ViewBag.ListNews;
}

<div class="page-section pt-4">
    <div class="container">
        <nav aria-label="Breadcrumb">
            <ol class="breadcrumb bg-transparent mb-4">
                <li class="breadcrumb-item"><a href=@Url.Action("Index","TrangChu")>Trang Chủ</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","HoatDongs")">Hoạt Động</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Ten)</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-single-wrap">
                    <div class="post-thumbnail">
                        <img src="@Html.DisplayFor(model => model.HinhAnhChiTiet)" alt="">
                    </div>
                    <h1 class="post-title">  @Html.DisplayFor(model => model.Ten)</h1>
                    <div class="post-meta">
                        <div class="post-author">
                            <span class="text-grey">Được Đăng Bởi </span> <a href="#"> @Html.DisplayFor(model => model.TenNguoiDang)</a>
                        </div>
                        <span class="gap">|</span>
                        <div class="post-date">
                            <a href="#"> @Html.DisplayFor(model => model.NgayDang)</a>
                        </div>
                        <span class="gap">|</span>
                        <div>
                            <a href="#">StreetStyle</a>, <a href="#">Fashion</a>, <a href="#">Couple</a>
                        </div>
                        <span class="gap">|</span>
                        <div class="post-comment-count">
                            <a href="#">8 Comments</a>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>@Html.DisplayFor(model => model.MoTa)</p>
                        <p>@Html.DisplayFor(model => model.NoiDung)</p>
              
                    </div>
                </div> <!-- .blog-single-wrap -->

                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Leave a comment</h3>
                    <form action="#" class="">
                        <div class="form-row form-group">
                            <div class="col-md-6">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="url" class="form-control" id="website">
                        </div>

                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea name="msg" id="message" cols="30" rows="8" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Post Comment" class="btn btn-primary">
                        </div>

                    </form>
                </div> <!-- .comment-form-wrap -->
            </div>

            <div class="col-lg-4">
                <div class="widget">
                    <div class="widget-box">
                        <h3 class="widget-title">Hoạt Động Khác</h3>
                        <div class="divider"></div>
                        @foreach (var item in ListHD)
                        {
                            <div class="blog-item">
                                <div class="content">
                                    <h5 class="recent-title">@item.Ten</h5>
                                    <h6 class="post-content"><a href="@Url.Action("BaiViet","HoatDongs", new {id = item.ID})" class="gioi-han">@item.MoTa</a></h6>
                                    <div class="meta">
                                        <a href="#"><span class="mai-calendar"></span> @item.NgayDang</a>
                                        <a href="#"><span class="mai-person"></span> @item.TenNguoiDang</a>
                                        <a href="#"><span class="mai-chatbubbles"></span> 19</a>
                                    </div>
                                </div>
                            </div>}
                    </div>

                    <div class="widget-box">
                        <h3 class="widget-title">Tin Tức Gần Đây</h3>
                        <div class="divider"></div>
                        @foreach (var item in ListNews)
                        {
                            <div class="blog-item">
                                <div class="content">
                                    <h5 class="recent-title">@item.TieuDe</h5>
                                    <h6 class="post-content"><a href="@Url.Action("BaiViet","TinTuc", new {id = item.ID})" class="gioi-han">@item.MoTa</a></h6>
                                    <div class="meta">
                                        <a href="#"><span class="mai-calendar"></span> @item.NgayDang</a>
                                        <a href="#"><span class="mai-person"></span> @item.TenNguoiDang</a>
                                        <a href="#"><span class="mai-chatbubbles"></span> 19</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

