<!DOCTYPE html>
<html>
@using Microsoft.AspNet.Identity

<head>
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="~/Areas/Admin/Resource/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Resource/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Resource/css/admincss.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Resource/AdminScript.js"></script>
    @RenderSection("header", required: false)
</head>
<body class="hold-transition sidebar-mini">

    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index","Dashboard")">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <!-- Messages Dropdown Menu -->
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        @*<span class="badge badge-danger navbar-badge">3</span>*@
                    </a>

                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        @*<span class="badge badge-warning navbar-badge">15</span>*@
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/Admin/assetsindex3.html" class="brand-link">
                @*<img src="~/Admin/assetsdist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
                <span class="brand-text font-weight-light">UEF Club Management</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>


                <!-- SidebarSearch Form -->
                <!-- Sidebar Menu -->
                @if (Request.IsAuthenticated)
                {
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-table"></i>
                                    <p>
                                        Danh Sách Quản Lý
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Albums")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Album</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "CLBs")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Câu Lạc Bộ</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "ChoxetDuyets")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Danh Sách Chờ</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "DangKies")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Dăng Ký</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "GioiThieux")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Giới Thiệu</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "HoatDongs")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Hoạt Động</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "LienHes")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Liên Hệ</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "LoaiCLBs")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Loại Câu Lạc Bộ</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "LoaiHDs")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Loại Hoạt Động</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "LoaiSuKiens")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Loại Sự Kiện</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "NhiemVus")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Nhiệm vụ</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Posters")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Poster</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "PhanHois")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Phản Hồi</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "QLDSHoatDongs")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Danh Sách HĐ</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "DBRoles")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Quyền Sử Dụng</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "SuKiens")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Sự Kiện</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "TTNhatKies")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Nhật Ký</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "ThanhViens")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Thành Viên</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "ThongBaos")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Thông Báo</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "DBUserRoles")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Phân Quyền Chức Năng</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "DBUsers")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>QL Tài Khoản Người Dùng</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>}
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()
       @* <div class="content-wrapper my-2">
            <section class="content">
                <div class="card">

                </div>
            </section>
        </div>*@
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0-rc
            </div>
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
                <!-- ./wrapper -->

                <script src="~/Areas/Admin/Resource/plugins/jquery/jquery.min.js"></script>
                <script src="~/Areas/Admin/Resource/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="~/Areas/Admin/Resource/dist/js/adminlte.min.js"></script>
                <script src="~/Areas/Admin/Resource/dist/js/demo.js"></script>
                @RenderSection("footer", required: false)
</body>
    </html>
