@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
     
        <div class="nav nav-link">
            @*@Html.ActionLink("Chào " + User.Identity.GetUserName(), null)*@
            <a href="#">Welcome : @Session["UserName"]</a>

            <span><a href="@Url.Action("Logout","Account")" class="btn btn-warning">Đăng Xuất</a></span>
        </div>
            }
}
else
{
    <ul class="nav nav-link">
        <li>@Html.ActionLink("Registration", "Registration", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
