@model ClubPortalMS.Models.Album

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper my-2">
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    @Html.ActionLink("Back to List", "Index")
                                </li>
                                <li>
                                    <input type="submit" value="Delete" class="btn btn-default" />
                                </li>
                            </ul>
                            <strong class="text-danger text-uppercase">Xóa</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            
                            <a href="#" class="btn btn-sm btn-success">Xóa</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.TieuDe)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TieuDe)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HinhAnh)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HinhAnh)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Video)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Video)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MoTa)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MoTa)
                        </dd>

                    </dl>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}
