@model ClubPortalMS.Models.Album

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper my-2">
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <p>  Mục này sẽ bị xóa và không thể khôi phục! </p>
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            
                            <strong class="text-danger text-uppercase">Xóa</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            @Html.ActionLink("Back to List", "Index")
                            <a href="#" class="btn btn-sm btn-success">Quay lại</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.TieuDe)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TieuDe)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HinhAnh)
                        </dt>

                        <dd>
                            <img src="@Url.Content(Model.HinhAnh)" style="width: 100px; height: 100px; margin: 10px;" />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Video)
                        </dt>

                        <dd>
                            <img src="@Url.Content(Model.Video)" style="width: 100px; height: 100px; margin: 10px;" />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MoTa)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MoTa)
                        </dd>

                    </dl>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div class="form-actions no-color">

    </div>
}

