@model ClubPortalMS.Models.Album

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper my-2">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                        <strong class="text-danger text-uppercase">Chi Tiết</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-success">Content</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TieuDe)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TieuDe)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HinhAnh)
                    </dt>

                    <dd>
                        <img src=" @Html.DisplayFor(model => model.HinhAnh)" alt ="" style="width: 300px; height: 300px;" />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Video)
                    </dt>

                    <dd>
                        <img src=" @Html.DisplayFor(model => model.Video)" alt ="" style="width: 300px; height: 300px;"/>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MoTa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MoTa)
                    </dd>

                </dl>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
