@model ClubPortalMS.ViewModel.CLB.CLBViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper my-2">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                        <strong class="text-danger text-uppercase">Thông Tin</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-success">Content</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.LoaiCLB.TenLoaiCLB)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LoaiCLB.TenLoaiCLB)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TenCLB)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenCLB)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TrangThai)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrangThai)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NgayThanhLap)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayThanhLap)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LienHe)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LienHe)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Mota)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Mota)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FanPage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FanPage)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
