@model WebApplication1.Models.CLB

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CLB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiCLB.TenLoaiCLB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiCLB.TenLoaiCLB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenCLB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCLB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThanhLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThanhLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LienHe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LienHe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FanPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FanPage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
