@model IEnumerable<ClubPortalMS.Models.CLB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper my-2">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        @Html.ActionLink("Create New", "Create")
                        <strong class="text-danger text-uppercase">Trang Chủ</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-success">Content</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.LoaiCLB.TenLoaiCLB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenCLB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NgayThanhLap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LienHe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FanPage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SDT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiCLB.TenLoaiCLB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenCLB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayThanhLap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LienHe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FanPage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

